@charset "UTF-8";
/**{
	border: 1px solid grey;
}*/
body {
  background: url(../../media/images/background.png) left top no-repeat; }

h3 {
  text-align: center; }
  h3 span {
    color: yellow; }

.navigation-bar {
  width: 800px;
  position: absolute;
  z-index: 2;
  left: 250px;
  background-color: none; }
  .navigation-bar div ul li {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    /*		a:hover{
    			background: url();
    		}*/ }
    .navigation-bar div ul li a {
      padding: 5px;
      color: white; }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: white; }

.carousel-indicators li:hover {
  background-color: black;
  border: 3px solid white; }

.carousel-indicators li:active {
  background-color: black;
  border: 3px solid white; }

h2 {
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif; }

.item {
  background: #333;
  text-align: center;
  height: 450px !important; }

.carousel {
  z-index: 1;
  margin-top: 0px; }

.carousel::after {
  width: 100%;
  height: 533px;
  z-index: 3;
  content: "";
  position: absolute;
  top: -82px;
  left: 0px;
  display: inline-block;
  background: url(../../media/sl_overlay.png) left top no-repeat; }

#first-slide {
  background: url(../../media/slide5.jpg);
  background-position: center; }

#second-slide {
  background: url(../../media/slide3.jpg);
  background-position: center; }

#third-slide {
  background: url(../../media/images/header/car-with-woman.png) no-repeat;
  background-position: center;
  background-color: black; }

#left-control {
  width: 20px;
  height: 20px;
  background: url(../../media/c_arrow.png) left top no-repeat 0 0; }

#car-with-arrow {
  background: url(../../media/images/second/car.png) left top no-repeat;
  display: inline-block;
  width: 100%;
  height: 400px;
  background-position: center; }

#slider-wrap {
  width: 100%; }

#slider {
  width: 640px;
  height: 360px;
  overflow: hidden;
  border: #eee solid 10px;
  position: relative; }

.slide {
  width: 100%;
  height: 100%; }

.sli-links {
  margin-top: 10px;
  text-align: center; }

.sli-links .control-slide {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(radioBg.png) center bottom no-repeat; }

.sli-links .control-slide:hover {
  cursor: pointer;
  background-position: center center; }

.sli-links .control-slide.active {
  background-position: center top; }

#prewbutton, #nextbutton {
  /* Ссылка "Следующий" и "Педыдущий" */
  display: block;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-indent: -999px;
  background: url(../../media/c_arrow.png) left top no-repeat 0 0;
  opacity: 0.8;
  z-index: 3;
  outline: none !important; }

#prewbutton {
  left: 10px; }

#nextbutton {
  right: 10px;
  background: url(../../media/c_arrow.png) left top no-repeat 0 0; }

#prewbutton:hover, #nextbutton:hover {
  opacity: 1; }

.carousel-indicators1 li {
  width: 10px;
  height: 10px;
  background-color: white; }

.carousel-indicators li:hover {
  background-color: black;
  border: 3px solid white; }

.carousel-indicators li:active {
  background-color: black;
  border: 3px solid white; }

h2 {
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif; }

.item {
  background: #333;
  text-align: center;
  height: 450px !important; }

.carousel1 {
  z-index: 1;
  margin-top: 0px; }

.carousel1::after {
  width: 100%;
  height: 533px;
  z-index: 3;
  content: "";
  position: absolute;
  top: -82px;
  left: 0px;
  display: inline-block;
  background: url(../../media/sl_overlay.png) left top no-repeat;
  /*	background-color: white;*/ }

#first-slide {
  background: url(../../media/slide5.jpg);
  background-position: center; }

#second-slide {
  background: url(../../media/slide3.jpg);
  background-position: center; }

#third-slide {
  background: url(../../media/images/header/car-with-woman.png) no-repeat;
  background-position: center;
  background-color: black; }

#left-control {
  width: 20px;
  height: 20px;
  background: url(../../media/c_arrow.png) left top no-repeat 0 0; }

#car-with-arrow {
  background: url(../../media/images/second/car.png) left top no-repeat;
  display: inline-block;
  width: 100%;
  height: 400px;
  background-position: center; }

/*# sourceMappingURL=restore.css.map */
